<h2>Welcome to {{title}}</h2>
<h3>A blogging destination for nerds</h3>

<p>Choose a topic from your area of interest:</p>
<ul>
  <li><a href="/topic1">Topic 1</a></li>
  <li><a href="/topic2">Topic 2</a></li>
  <li><a href="/topic3">Topic 3</a></li>
  <li><a href="/topic4">Topic 4</a></li>
  <li><a href="/topic5">Topic 5</a></li>
</ul>

<h3>Suggested reads</h3>
<!-- ul>(li>.blog-card>(.card-heading>h2{Blog $})+(.card-body>p>lorem))*10 -->
<ul>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 1</h2>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem id cum minus molestiae qui exercitationem tempore laboriosam vero, animi, odit, a neque dolore. Nemo quidem iste a vitae aliquid eius!</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 2</h2>
      </div>
      <div class="card-body">
        <p>Id rerum fugit adipisci dolore. Hic dolore iusto minima sunt debitis! Impedit facilis exercitationem quo consequuntur, voluptatem itaque incidunt perferendis animi assumenda excepturi inventore. Consequuntur at fugiat odit delectus? Nisi!</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 3</h2>
      </div>
      <div class="card-body">
        <p>Quas assumenda voluptate tempore inventore repellendus accusamus reprehenderit aspernatur animi suscipit, maxime asperiores obcaecati autem, mollitia saepe iste officia, adipisci unde. Natus odit at iure vel aut ad numquam nemo.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 4</h2>
      </div>
      <div class="card-body">
        <p>Ducimus enim, illum maxime voluptatem soluta repudiandae quae porro quod cum distinctio veniam, at, eligendi excepturi eius nesciunt. Ea porro delectus vero error deserunt officia corporis nulla ad illo eos.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 5</h2>
      </div>
      <div class="card-body">
        <p>Voluptate praesentium ipsum possimus eius voluptatum porro, reprehenderit numquam. Iusto assumenda facilis suscipit! Molestiae eos consequuntur est quo adipisci consequatur voluptatum quasi labore tempora numquam? Commodi tempora reprehenderit accusamus laboriosam!</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 6</h2>
      </div>
      <div class="card-body">
        <p>Omnis explicabo repellat incidunt aliquam fuga tenetur, doloribus nostrum tempora modi vel qui, aperiam iusto error, laborum dolore! Error quos repellendus, iure fuga maxime tempore sint dicta eos molestias labore.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 7</h2>
      </div>
      <div class="card-body">
        <p>Optio eius rem atque explicabo ea non officia omnis expedita adipisci amet facilis quisquam mollitia distinctio officiis, fugit ipsa magni hic architecto velit maxime quos ipsum ipsam veniam! Nihil, omnis?</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 8</h2>
      </div>
      <div class="card-body">
        <p>Obcaecati ducimus tempore, fugit quasi hic sint excepturi ex id adipisci impedit exercitationem quam cupiditate voluptas alias vero dignissimos commodi tempora sequi, odit maxime? Ratione consectetur voluptate est officiis error.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 9</h2>
      </div>
      <div class="card-body">
        <p>Corporis atque repellendus cum alias iusto dolorum veritatis aut repellat maxime sequi doloribus quod optio accusantium laboriosam quas deserunt voluptatum, impedit blanditiis quibusdam? Veritatis voluptatem ab doloremque nihil iure pariatur?</p>
      </div>
    </div>
  </li>
  <li>
    <div class="blog-card">
      <div class="card-heading">
        <h2>Blog 10</h2>
      </div>
      <div class="card-body">
        <p>Animi quisquam labore harum eum a. Repellendus ad cupiditate, illum optio obcaecati, aperiam dolorem libero hic sequi quod repudiandae temporibus ipsum magni consequuntur ducimus ullam voluptatum! Neque repellendus voluptas quia.</p>
      </div>
    </div>
  </li>
</ul>
